# Виртуальное окружение
.venv/
venv/
ENV/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Результаты тестов Allure
allure-results/
allure-report/
*.log
*.xml
*.html

# Дистрибутивы
dist/
build/
*.egg-info/

# Файлы окружения
.env
*.env

# БД
*.db
*.sqlite
